.flex {
  display: flex;
}

.flex-col {
  @extend .flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jcsb {
  justify-content: space-between;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: end;
}

.ais {
  align-items: start;
}

.aie {
  align-items: end;
}

.aic {
  align-items: center;
}
