@use "abstracts/spacing";

@use "base/reset";
@use "base/typography";

@use "layout/lenis";

@use "utilities/flex";
@use "utilities/text";
@use "utilities/state";

.fade-text {
  font-size: 10vw;
  max-width: 80vw;
  margin: 0 auto;
  font-weight: bold;
  padding: 10rem 0;
}
