@use "base/reset";
@use "base/typography";
@use "base/grid";

.char-space {
  margin: 0 0.1em;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: orange;
}
