.hero-section {
  height: 100dvh;
}

.hero-section__titles-container {
  container-type: inline-size;
  container-name: heroTitlesContainer;
  height: 100%;
}

.hero-section__title {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 20cqi;
}

// container query
@container heroTitlesContainer (max-width: 600px) {
  .hero-section__title {
    border: 1px solid orange;
  }
}
